.wrapper {
  display: grid;
  gap: 10px;
}

.report-wrapper {
  padding: 15px 10px 10px 20px;
  background-color: var(--block-bg-color);
  border-radius: 8px;
}

.report-row {
  display: grid;
  grid-template-columns: 205px 144px 1fr;
  gap: 15px;
  padding-left: 20px;

  --gap: 15px;
  --grid-template-columns: calc(30.98% - var(--gap)) calc(21.51% - var(--gap))
    calc(18.43% - var(--gap)) calc(16.13% - var(--gap)) 12.95%;

  &.report-row-head {
    grid-template-columns: 205px 144px 1fr;
    margin-bottom: 18px;

    & > div {
      display: grid;
      grid-template-columns: var(--grid-template-columns);
      gap: var(--gap);
      padding: 0 10px;
    }

    p {
      font-size: 14px;
      line-height: 17px;
      color: var(--stroke-color);
    }
  }

  &:not(.report-row-head) {
    padding-bottom: 8px;
    border-top: 1px solid var(--border-color);

    & > p {
      padding-top: 23px;
    }

    &:first-child {
      border-top: 1px solid transparent;
    }
  }

  .entries-wrapper {
    margin-top: 8px;
  }

  .entry-item {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: var(--gap);
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;
    user-select: none;
    transition: var(--transition-duration) background-color;

    &.entry-item-active {
      background-color: var(--body-bg-color);

      p {
        font-weight: 600;
      }
    }

    &:hover {
      background-color: var(--block-bg-color-2);

      .entry-name-wrapper {
        & > p {
          text-decoration: underline;
        }
      }
    }

    .entry-name-wrapper {
      display: flex;
      gap: 15px;
      align-items: center;

      & > p {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.diagram-wrapper {
  position: relative;
  padding: 20px;
  border-top: 1px solid var(--border-color);

  .diagram-title {
    margin-bottom: 20px;
    font-weight: 600;
  }

  .x-axis-name {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .y-axis-name {
    margin-bottom: 10px;
  }

  .y-axis-name,
  .x-axis-name {
    font-size: 12px;
    color: var(--stroke-color);
  }

  .area-chart {
    tspan {
      font-size: 12px;
      font-weight: 400;
      opacity: 0.3;
    }
  }
}

.custom-tooltip {
  min-width: 210px;
  padding: 6px 20px 20px;
  background: var(--block-bg-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgb(46 46 46 / 8%);

  .custom-tooltip-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
  }

  .custom-tooltip-credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
}

.filter-wrapper {
  display: grid;
  grid-template-columns: 275px 115px auto;
  gap: 40px;
  align-items: center;
  padding: 22px 20px;
  background-color: var(--block-bg-color);
  border-radius: 8px;

  .number-of-credits-select {
    width: fit-content;
  }
}

.no-data {
  padding: 30px;
  word-break: break-all;
  background-color: var(--block-bg-color);
  border-radius: 8px;

  span {
    font-weight: 600;
  }
}
