.tabs {
  display: flex;

  .tab {
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 16px;
    cursor: pointer;

    &.active {
      cursor: default;
      pointer-events: none;
      color: var(--text-color-3);
      border-bottom: 2px solid var(--text-color-3);
    }
  }
}
