.container {
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 10px;
}

.grid {
  grid-template-columns: 5% 7% 1fr repeat(3, 20%);
  border-bottom: 0;
  border-radius: 0;
}

.filters {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 22px 20px;
  margin-bottom: 10px;
  background: var(--block-bg-color);
  border-radius: 8px 8px 0 0;
}
