.squares {
  padding: 21px 14px 45px 15px;

  img {
    padding-right: 11px;
  }
}

.squares-2 {
  padding: 21px 15px 39px 12px;

  img {
    padding-right: 10px;
  }
}

.squares-3 {
  padding: 28px 16px 39px 17px;
}
