.wrapper {
  display: grid;
  gap: 5px;
  align-content: flex-start;
}

.table-header {
  display: grid;
  grid-template-columns: 166px 1fr;
  gap: 20px;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--block-bg-color);
  border-radius: 8px 8px 0 0;

  p {
    font-size: 14px;
    line-height: 17px;
  }
}

.entries-wrapper {
  display: grid;
  gap: 5px;
}

.entry-item {
  display: grid;
  grid-template-columns: 166px 1fr auto;
  gap: 20px;
  padding: 10px 20px;
  background-color: var(--block-bg-color);
}

.entry-name-wrapper {
  .entry-rename-input {
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid transparent;

    &.entry-rename-input-visible {
      border-color: var(--text-color);
    }
  }

  .rename-entry-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 148.52%;
    color: var(--text-color-3);
    cursor: pointer;
    user-select: none;
    transition: var(--transition-duration) opacity;

    &.rename-entry-text-hide {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.forecast-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  align-items: center;
  width: fit-content;

  &.forecast-wrapper-not-forecasts {
    grid-template-columns: 1fr;
  }

  .edit-entry-link {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  .make-pick-link {
    button {
      width: 130px;
    }
  }
}

.forecast-item {
  position: relative;
  display: grid;
  gap: 5px;
  align-items: center;
  justify-items: center;
  width: 95px;
  height: 95px;
  padding: 5px 2px 10px;
  background-color: var(--body-bg-color);
  border-radius: 3px;
}

.player-image {
  width: 45px;
  height: 60px;

  svg {
    width: inherit;
    height: inherit;
  }
}

.player-name {
  font-size: 12px;
  line-height: 15px;
}

.world-rank-text {
  position: absolute;
  top: 5px;
  right: 3px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

.dots {
  position: relative;
}

.dots-wrapper {
  margin-top: 10px;
  cursor: pointer;

  svg {
    width: 5px;
    height: fit-content;

    circle {
      fill: var(--stroke-color);
      transition: var(--transition-duration) opacity;
    }

    &:hover {
      circle {
        opacity: 0.5;
      }
    }
  }
}
