.settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  .first-row-setting-wrapper {
    display: grid;

    &.with-select {
      grid-template-columns: 2fr 1fr;
      gap: 20px;
    }
  }

  .number-of-squares-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    p {
      width: fit-content;
      padding: 15px 0 12px;
      font-family: var(--russo-one);
      font-size: 14px;
      font-weight: 400;
      line-height: 148.52%;
      text-transform: uppercase;
      cursor: pointer;
      user-select: none;
      border-bottom: 3px solid transparent;
      opacity: 0.7;
      transition: var(--transition-duration) opacity;

      &:hover {
        opacity: 0.9;
      }

      &.number-of-squares-active-item {
        border-bottom-color: var(--text-color);
        opacity: 1;
      }

      span {
        margin-right: 10px;
        font-family: inherit;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  .week-of-game-wrapper {
    width: 100%;
    max-width: 773px;

    &.full {
      max-width: none;
    }
  }

  .name-and-squares-member-wrapper,
  .game-for-week-and-numbers-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  .number-of-sets-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    p {
      width: fit-content;
      padding: 15px 0 12px;
      font-family: var(--russo-one);
      font-size: 14px;
      font-weight: 400;
      line-height: 148.52%;
      text-transform: uppercase;
      cursor: pointer;
      user-select: none;
      border-bottom: 3px solid transparent;
      opacity: 0.7;
      transition: var(--transition-duration) opacity;

      &:hover {
        opacity: 0.9;
      }

      &.number-of-sets-active-item {
        border-bottom-color: var(--text-color);
        opacity: 1;
      }

      span {
        margin-right: 10px;
        font-family: inherit;
        font-size: 24px;
        line-height: 29px;

        &.hint {
          font-size: 14px;
          font-weight: 400;
          line-height: 148.52%;
          color: var(--stroke-color);
        }
      }
    }
  }

  .generate-grid-btn {
    align-self: center;
    width: 316px;
    height: 60px;
    font-family: var(--russo-one);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

    &.wide {
      width: 368px;
    }
  }
}

.checkbox-data {
  display: flex;
  gap: 10px;
  align-items: center;
}

.axises-wrapper {
  display: grid;
  gap: 20px;
  margin: 10px 0;
}

.axis-wrapper {
  display: grid;
  gap: 20px;

  &:nth-child(2) {
    .lines {
      display: flex;
      align-items: flex-end;

      .line {
        width: 1px;
        height: 20px;
      }
    }

    .axis-set {
      &:nth-child(2) {
        .line {
          &:first-child {
            width: 2px;
            height: 27px;
            background: var(--text-color);
            opacity: 1;
          }
        }
      }

      &:nth-child(3) {
        .line {
          &:nth-child(2) {
            width: 2px;
            height: 27px;
            background: var(--text-color);
            opacity: 1;
          }
        }
      }

      &:nth-child(4) {
        .line {
          &:nth-child(3) {
            width: 2px;
            height: 27px;
            background: var(--text-color);
            opacity: 1;
          }
        }
      }

      &:nth-child(5) {
        .line {
          &:nth-child(4) {
            width: 2px;
            height: 27px;
            background: var(--text-color);
            opacity: 1;
          }
        }
      }
    }
  }

  .axis-set {
    display: grid;
    grid-template-columns: 40px 80px 1fr;
    gap: 30px;
    align-items: center;

    &.single {
      grid-template-columns: 80px 1fr;
    }

    &:nth-child(2) {
      .line {
        &:first-child {
          width: 27px;
          height: 2px;
          background: var(--text-color);
          opacity: 1;
        }
      }
    }

    &:nth-child(3) {
      .line {
        &:nth-child(2) {
          width: 27px;
          height: 2px;
          background: var(--text-color);
          opacity: 1;
        }
      }
    }

    &:nth-child(4) {
      .line {
        &:nth-child(3) {
          width: 27px;
          height: 2px;
          background: var(--text-color);
          opacity: 1;
        }
      }
    }

    &:nth-child(5) {
      .line {
        &:nth-child(4) {
          width: 27px;
          height: 2px;
          background: var(--text-color);
          opacity: 1;
        }
      }
    }
  }
}

.axis-title {
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  font-family: var(--russo-one);
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  .arrow {
    transition: var(--transition-duration);
    transform: rotate(-180deg);

    &.disabled {
      transform: rotate(0deg);
    }

    path {
      fill: var(--text-color);
    }
  }
}

.lines {
  display: grid;
  gap: 5px;

  .line {
    width: 20px;
    height: 1px;
    background: var(--stroke-color);
    opacity: 0.5;
  }
}

.master-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
  height: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .delete-wrapper {
    width: 100%;
    min-width: fit-content;
    max-width: calc(50% - 184px);
  }

  .show-delete-button {
    width: fit-content;
    padding: 0;
    color: var(--error-color);
    text-transform: uppercase;
  }

  .delete-confirm {
    display: flex;
    gap: 43px;

    span {
      font-size: 16px;
      font-weight: 600;
    }

    .delete-button {
      cursor: pointer;
      transition: color var(--transition-duration);

      &:hover {
        text-decoration: underline;
      }

      &.confirm {
        &:hover {
          color: var(--error-color);
        }
      }
    }
  }
}
