.pick {
  padding: 10px 10px 40px;

  &.squares {
    padding-left: 10px;
  }

  &.survivor {
    padding-left: 10px;
  }

  p.days-left {
    align-self: flex-end;
    padding-right: 11px;
    font-family: var(--russo-one);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--text-color-6);
  }
}

.select {
  padding: 10px 10px 40px;

  &.squares {
    padding-top: 21px;
  }

  &.survivor {
    padding-top: 31px;
    padding-left: 10px;
  }
}

.cup {
  padding: 10px 10px 40px;

  &.survivor {
    padding-top: 45px;
  }
}
