.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 10px;
}

.cost-wrapper {
  padding: 15px 30px 33px;
  background-color: var(--block-bg-color);
  border-radius: 8px;

  .fixed-text {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--text-color-3);
  }

  .cost {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
  }

  .per-grid-text {
    color: var(--stroke-color);
  }
}

.payment-wrapper {
  display: grid;
  gap: 2px;

  .payment-block {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--block-bg-color);
    border-radius: 8px 8px 0 0;

    & > p {
      font-size: 18px;
      font-weight: 600;
    }

    .payment-input {
      width: 102px;
    }
  }

  .total-block {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 35px;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--block-bg-color);
    border-radius: 0 0 8px 8px;

    .total-text {
      font-size: 24px;
    }

    .total {
      font-size: 24px;
      font-weight: 700;
    }

    button {
      width: 200px;
      height: 60px;
      font-family: var(--russo-one);
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.payed-wrapper {
  display: grid;
  gap: 20px;
  padding: 23px 30px;
  background-color: var(--block-bg-color);
  border-radius: 8px;

  p {
    span {
      font-weight: 600;
    }

    a {
      font-weight: 600;
      color: var(--text-color-3);
      text-decoration: underline;
    }
  }
}

.link {
  opacity: 1;
  transition: var(--transition-duration) opacity;

  &.link-disabled {
    pointer-events: none;
    opacity: 0.8;
  }
}
