.swiper-wrapper {
  position: relative;

  .previous,
  .next {
    position: absolute;
    top: 50%;
    z-index: var(--z-index-initial);
    cursor: pointer;
    transform: translateY(-50%);

    svg {
      width: var(--svg-width);
      height: 14px;

      path {
        fill: var(--text-color);
      }
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  .previous {
    left: -15px;
  }

  .next {
    right: -15px;
  }
}

.slide {
  text-align: center;

  .slide-title {
    font-size: 14px;
  }
}
