.wrapper {
  display: grid;
  gap: 10px;
}

.not-found {
  padding: 27px 30px;
  background-color: var(--block-bg-color);

  span {
    font-weight: 600;
    word-break: break-all;
  }
}

.star-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  .star {
    path {
      stroke: var(--favorites-color);
    }
  }
}

.grid {
  grid-template-columns: 3% 4.5% 22% repeat(3, 1fr);
}

.points-text {
  font-weight: 600;
  line-height: 23px;
}
