.entries-list-wrapper {
  display: grid;
  gap: 2px;
  margin-top: 10px;
}

.entry-item {
  position: relative;
  display: grid;
  grid-template-columns: 207px 1fr 80px 70px;
  gap: 20px;
  padding: 20px 50px 40px 25px;
  overflow: hidden;
  background-color: var(--block-bg-color);

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: transparent;
  }

  .entry-name-wrapper,
  .results-wrapper,
  .win-lost-wrapper,
  .credits-wrapper {
    .column-name {
      font-size: 14px;
      color: var(--stroke-color);
    }
  }

  .entry-name-wrapper {
    .entry-name {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-top: 26px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 23px;
        font-size: 10px;
        font-weight: 900;
        color: var(--text-color-2);
        text-transform: uppercase;
        border-radius: 3px;
      }

      p {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .results-wrapper {
    .column-name {
      .points {
        margin-left: 10px;
        font-weight: 700;

        &.points-win {
          color: var(--success-color);
        }

        &.points-lost {
          color: var(--error-color);
        }
      }
    }

    .events-wrapper {
      display: grid;
      grid-template-columns: repeat(6, 100px);
      gap: 10px;
      margin-top: 18px;

      &.events-wrapper-no-pick {
        grid-template-columns: 1fr;
        margin-top: 26px;
      }

      .event {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px 5px 5px;
        background-color: var(--body-bg-color);
        border-radius: 3px;

        &.event-win {
          background-color: rgb(49 165 30 / 50%);
        }

        &.event-lost {
          background-color: rgb(235 38 38 / 40%);
        }

        p {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .win-lost-wrapper {
    .win-lost-text {
      margin-top: 20px;
      font-family: var(--russo-one);
      font-size: 24px;
      line-height: 148.52%;

      &.win-lost-text-no-pick {
        opacity: 0.5;
      }
    }
  }

  .credits-wrapper {
    .credits-text {
      margin-top: 20px;
      font-family: var(--russo-one);
      font-size: 24px;
      line-height: 148.52%;
    }
  }
}

.no-data {
  padding: 20px 30px;
  margin-top: 10px;
  background: var(--block-bg-color);
  border-radius: 8px;
}

.create-entry-block {
  margin-top: 10px;
}
