.wrapper {
  display: grid;
  gap: 44px;
  align-content: flex-start;
}

.temporarily-locked-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--block-bg-color);
  border-radius: 8px;

  .description {
    display: grid;
    gap: 20px;

    p {
      max-width: 610px;

      span {
        font-weight: 600;
      }
    }

    .email {
      font-weight: 600;
      color: var(--text-color-3);
      cursor: pointer;
    }
  }
}
