.tr {
  td {
    padding: 10px 5px 15px;
    vertical-align: top;
    background: var(--block-bg-color);
    border-top: 5px solid var(--body-bg-color);

    &:first-child {
      padding-left: 20px;
    }
  }

  &:nth-last-child(2) {
    &:not(.active) {
      td {
        &:first-child {
          border-radius: 0 0 0 8px;
        }

        &:last-child {
          border-radius: 0 0 8px;
        }
      }
    }
  }

  &:nth-child(9n + 1) {
    .short-name-block {
      background-color: var(--leaderboard-color-1);
    }
  }

  &:nth-child(9n + 2) {
    .short-name-block {
      background-color: var(--leaderboard-color-6);
    }
  }

  &:nth-child(9n + 3) {
    .short-name-block {
      background-color: var(--leaderboard-color-7);
    }
  }

  &:nth-child(9n + 4) {
    .short-name-block {
      background-color: var(--leaderboard-color-8);
    }
  }

  &:nth-child(9n + 5) {
    .short-name-block {
      background-color: var(--leaderboard-color-9);
    }
  }

  &:nth-child(9n + 6) {
    .short-name-block {
      background-color: var(--leaderboard-color-10);
    }
  }

  &:nth-child(9n + 7) {
    .short-name-block {
      background-color: var(--leaderboard-color-11);
    }
  }

  &:nth-child(9n + 8) {
    .short-name-block {
      background-color: var(--leaderboard-color-12);
    }
  }

  &:nth-child(9n + 9) {
    .short-name-block {
      background-color: var(--leaderboard-color-13);
    }
  }
}

.entries {
  display: grid;
  gap: 5px;
}

.name-wrapper {
  display: flex;
  gap: 20px;
}

.name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.entry {
  display: flex;
  gap: 10px;
  align-items: center;
}

.edit-icon {
  cursor: pointer;

  &.active {
    path {
      fill: var(--button-blue-color);
    }
  }

  path {
    fill: var(--stroke-color);
  }
}

.delete {
  cursor: pointer;

  .delete-icon {
    path {
      stroke: var(--stroke-color);
      transition: all var(--transition-duration);
    }
  }

  &:hover {
    .delete-icon {
      path {
        stroke: var(--error-color);
      }
    }
  }
}
