.wrapper {
  display: flex;
  gap: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 58px;
  padding-top: 28px;
  padding-bottom: 20px;
  overflow: auto;

  @include mixins.scroll;
}

.row {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 890px;
}
