.week-selection {
  --svg-width: 9px;

  position: relative;
  width: 100%;

  .slide {
    cursor: pointer;
    user-select: none;

    .week {
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 15px;
      color: var(--stroke-color);
      text-transform: uppercase;
      opacity: 0.8;
    }

    .title {
      font-family: var(--russo-one);
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      opacity: 0.7;
    }

    &.disabled {
      cursor: default;
      opacity: 0.2;

      &.active {
        opacity: 1;
      }
    }

    &.active {
      transform: translateY(-5px);

      .week {
        opacity: 1;
      }

      .title {
        position: relative;
        opacity: 1;

        &::after {
          position: absolute;
          bottom: -10px;
          left: 50%;
          display: block;
          width: 29px;
          height: 3px;
          content: '';
          background-color: var(--text-color);
          transform: translateX(-50%);
        }
      }
    }
  }

  // swiper swiper-initialized
  & > div {
    padding: 5px 0;
    margin: 0 var(--svg-width);

    // swiper-wrapper
    div {
      text-align: center;
    }
  }

  .previous,
  .next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);

    svg {
      width: var(--svg-width);
      height: 14px;

      path {
        fill: var(--text-color);
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  .previous {
    left: calc(var(--svg-width) * (-1));
  }

  .next {
    right: calc(var(--svg-width) * (-1));
  }
}
